[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
tomli = "*"
pytest = "*"
mongomock = "*"
flask = "*"
pymongo = "*"
deepface = "*"
python-dotenv = "*"
tf-keras = "*"
numpy = "*"
pillow = "*"
jinja2 = "*"
coverage = "*"


[dev-packages]

[requires]
python_version = "3.11"
