[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
tomli = "*"
pytest = "*"
flask = "*"
pymongo = "*"
tf-keras = "*"
deepface = "*"
numpy = "*"
pillow = "*"
jinja2 = "*"
pytest-cov = "*"
opencv-python = "*"
pandas = "*"
#wheel = "*"
#setuptools = "*"
#h5py = "*"
# tensorflow = "*"
# keras = "*"


[dev-packages]

[requires]
python_version = "3.11"
