[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cv2 = "*"
pymongo = "*"
fer = "*"


[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
