[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
deepface = "*"
python-dotenv = "*"
tf-keras = "*"
pylint = "*"
black = "*"
pytest = "*"
coverage = "*"
pillow = "*"


[dev-packages]

[requires]
python_version = "3.11"
